* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; 
  margin-block-start: 0;
  margin-block-end: 0;
}
html {
  padding: 0;
  margin: 0;
}
body,
.app {
  display: block;
  background-image: url(./images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  min-height: calc(100vh - 89px);
  max-width: 100vw;
}
.main {
  display: block;
  height: auto;
  margin-top: 1em;
}
.handleError {
  display: block;
  height: auto;
  width: 100%;
  margin: 10em auto;
  text-align: center;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.908);
}
.handleError h1 {
  margin: 0 !important;
  color: rgba(255, 255, 255, 0.781);
  text-shadow: -4px 1px 1px rgba(255, 255, 255, 0.6);
  animation: crazzyShadow 2s infinite linear;
}
.handleError h2 {
  margin: 0.2em;
  color: rgba(255, 255, 255, 0.507);
  text-shadow: 0px 1px 1px rgba(255, 255, 255);
}
.handleError h4 {
  color: rgba(255, 255, 255, 0.164);
  text-shadow: -4px 0px 2px rgba(255, 255, 255);
}
.handleError h5 {
  color: rgba(255, 255, 255, 0.685);
  text-shadow: 0px 1px 1px rgba(255, 255, 255);
}
.handleError a img {
  width: 25em;
  border-radius: 0.5em;
  cursor: pointer;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.handleError a img:hover {
  transform: scale(1.03);
}
.card-add {
  max-width: 20em;
  margin: 0 auto;
  text-align: center;
}
.card-add:hover {
  transform: scale(1.03);
  cursor: pointer;
  font-weight: bolder;
}
.back {
  font-size: 3em;
  padding: 0;
  color: #ccc;
}
.back:hover {
  color: #fff;
}
.plus {
  font-size: 1.5em;
}
.card-container {
  margin-top: 100px;
}
@keyframes crazzyShadow {
  0% {
    text-shadow: -4px 0px 1px rgba(255, 255, 255);
  }
  20% {
    text-shadow: 2px 0px 2px rgba(255, 255, 255);
  }
  40% {
    text-shadow: -2px 0px 1px rgba(255, 255, 255);
  }
  80%,
  72% {
    text-shadow: 1px 0px 1px rgba(255, 255, 255);
  }
  100% {
    text-shadow: -3px 0px 1px rgba(255, 255, 255);
  }
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
}

@media (max-width: 769px) {
  .app {
    width: 100%;
  }
  main {
    width: 80%;
    margin: 20% auto;
    max-width: 1000px;
  }
}
@media (max-width: 320px) {
  main {
    width: 100%;
    margin-top: 20%;
    margin: 0;
  }
}
