.login{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 600px;
    margin: 6em auto;
    background-color: rgba(57, 167, 187, 0.8);
    padding: 2em 1em;
    border-radius: 1em;
    text-align: center;
}
.login-title{
    color: rgb(238, 238, 238);
    max-width: 500px;
    /* text-shadow: 1px 1px 3px #000; */
}
.login-subtitle{
    margin-bottom: .5em;
    color: rgb(238, 238, 238); 
}
.email-title{
    color: #fff;
    font-weight: bold;
    width: 100%;
    background-color: aliceblue;
}
.form{
    width: 100%;
    max-width: 400px;
    padding: 1em 0;
    border-radius: 1em;
}
.login-button{
    background-color: rgb(26, 116, 143);
    border: none;
    width: 95%;
    max-width: 300px;
}
.login-button:hover{
    background-color: rgb(8, 36, 44);
    transform: scale(1.01);
}
input[type="email"], 
input[type="password"],
input[type="text"]{
    text-align: center;
}
.yourEmail{
    color:rgb(238, 238, 238);
    font-weight: bold;
}